In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
bd = np.matrix([[44.,-1.,40.,42.,40.,39.,37.,36.,-1.],
                [42.,-1.,43.,42.,39.,39.,41.,40.,36.],
                [37.,37.,37.,35.,38.,37.,37.,33.,34.],
                [35.,38.,-1.,35.,37.,36.,36.,35.,-1.],
                [36.,35.,36.,35.,34.,33.,32.,29.,28.],
                [38.,37.,35.,-1.,30.,-1.,29.,30.,32.]])

In [4]:
bd

matrix([[ 44.,  -1.,  40.,  42.,  40.,  39.,  37.,  36.,  -1.],
        [ 42.,  -1.,  43.,  42.,  39.,  39.,  41.,  40.,  36.],
        [ 37.,  37.,  37.,  35.,  38.,  37.,  37.,  33.,  34.],
        [ 35.,  38.,  -1.,  35.,  37.,  36.,  36.,  35.,  -1.],
        [ 36.,  35.,  36.,  35.,  34.,  33.,  32.,  29.,  28.],
        [ 38.,  37.,  35.,  -1.,  30.,  -1.,  29.,  30.,  32.]])

In [5]:
I = pd.Index([1,2,3,4,5,6], name="Borehole rows")
C = pd.Index([0,100,200,300,400,500,600,700,800], name="Borehole distance(in m.)")

In [6]:
df_bd = pd.DataFrame(data = bd,index = I, columns = C)

In [7]:
df_bd

Borehole distance(in m.)  0    100  200  300  400  500  600  700  800
Borehole rows
1                          44   -1   40   42   40   39   37   36   -1
2                          42   -1   43   42   39   39   41   40   36
3                          37   37   37   35   38   37   37   33   34
4                          35   38   -1   35   37   36   36   35   -1
5                          36   35   36   35   34   33   32   29   28
6                          38   37   35   -1   30   -1   29   30   32

In [57]:
df_diff = np.array([])
for i in range(0,700,100):
    df = df_bd.loc[(df_bd[i]>0) & (df_bd[i+100]>0)]
    print np.square((df[i]-df[i+100]).values).sum()/len(df.index)
    df_diff = np.append(df_diff,np.square((df[i]-df[i+100]).values).sum())

2.75
1.66666666667
2.5
5.4
0.8
1.8
4.83333333333

In [134]:
df_bd_T = df_bd.transpose()
df_bd_T

Borehole rows              1   2   3   4   5   6
Borehole distance(in m.)
0                         44  42  37  35  36  38
100                       -1  -1  37  38  35  37
200                       40  43  37  -1  36  35
300                       42  42  35  35  35  -1
400                       40  39  38  37  34  30
500                       39  39  37  36  33  -1
600                       37  41  37  36  32  29
700                       36  40  33  35  29  30
800                       -1  36  34  -1  28  32

In [82]:
for i in range(1,6):
    df = df_bd_T.loc[(df_bd_T[i]>0) & (df_bd_T[i+1]>0)]

In [159]:
bd_a = [[44.,-1.,40.,42.,40.,39.,37.,36.,-1.],
        [42.,-1.,43.,42.,39.,39.,41.,40.,36.],
        [37.,37.,37.,35.,38.,37.,37.,33.,34.],
        [35.,38.,-1.,35.,37.,36.,36.,35.,-1.],
        [36.,35.,36.,35.,34.,33.,32.,29.,28.],
        [38.,37.,35.,-1.,30.,-1.,29.,30.,32.]]
print bd.tolist()

[[44.0, -1.0, 40.0, 42.0, 40.0, 39.0, 37.0, 36.0, -1.0], [42.0, -1.0, 43.0, 42.0, 39.0, 39.0, 41.0, 40.0, 36.0], [37.0, 37.0, 37.0, 35.0, 38.0, 37.0, 37.0, 33.0, 34.0], [35.0, 38.0, -1.0, 35.0, 37.0, 36.0, 36.0, 35.0, -1.0], [36.0, 35.0, 36.0, 35.0, 34.0, 33.0, 32.0, 29.0, 28.0], [38.0, 37.0, 35.0, -1.0, 30.0, -1.0, 29.0, 30.0, 32.0]]

In [201]:
m = 1 # 1/m = slope

def shear_45_ccw(array):
    ret = []
    for i in range(len(array)):
        ret.append([0] * 14)
        for j in range(len(array[i])):
            ret[i][int(i + m*j)] = array[i][j]
    return ret

df_bd = pd.DataFrame(data = np.matrix(shear_45_ccw(bd.transpose().tolist())))
df_bd = df_bd.transpose()
df_bd

     0   1   2   3   4   5   6   7   8
0   44   0   0   0   0   0   0   0   0
1   42  -1   0   0   0   0   0   0   0
2   37  -1  40   0   0   0   0   0   0
3   35  37  43  42   0   0   0   0   0
4   36  38  37  42  40   0   0   0   0
5   38  35  -1  35  39  39   0   0   0
6    0  37  36  35  38  39  37   0   0
7    0   0  35  35  37  37  41  36   0
8    0   0   0  -1  34  36  37  40  -1
9    0   0   0   0  30  33  36  33  36
10   0   0   0   0   0  -1  32  35  34
11   0   0   0   0   0   0  29  29  -1
12   0   0   0   0   0   0   0  30  28
13   0   0   0   0   0   0   0   0  32

In [217]:
df_diff = np.array([])
sum_ = 0
for i in range(0,4):
    df = df_bd.loc[(df_bd[i]>0) & (df_bd[i+5]>0)]
    print i
    print df,"\n"
    print np.square((df[i]-df[i+1]).values).sum()
    if np.square((df[i]-df[i+1]).values).sum():
        sum_ += np.append(df_diff,np.square((df[i]-df[i+1]).values).sum()/len(df.index))
print sum_

0
    0   1  2   3   4   5  6  7  8
5  38  35 -1  35  39  39  0  0  0

1
   0   1   2   3   4   5   6  7  8
6  0  37  36  35  38  39  37  0  0

2
   0  1   2   3   4   5   6   7  8
7  0  0  35  35  37  37  41  36  0

3
Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
Index: []

[ 10.]

In [58]:
for i,j in df_bd.iterrows():
    print i
    print j
    break

1
Borehole distance(in m.)
0      44
100    -1
200    40
300    42
400    40
500    39
600    37
700    36
800    -1
Name: 1, dtype: float64

In [66]:
sum = 0
for i in range(j.size-1):
    if(j[i+1]>0):
        sum+=(j[i+1]-j[i])**2

KeyError: 1

In [75]:
i

1

In [86]:
j[j>0].index

Int64Index([0, 200, 300, 400, 500, 600, 700], dtype='int64', name=u'Borehole distance(in m.)')